---
import calendarIcon from "@/assets/icons/mask/calendar.avif";
import userIcon from "@/assets/icons/mask/user.avif";
import MaskIcon from "@/components/ui/MaskIcon.astro";
import { localizeDateString, localizeHref } from "@/i18n/utils";
import { getDateStringFromId } from "@/utils/blog.ts";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import type { TFunction } from "i18next";

interface Props {
  id: string;
  author: string;
  tags: string[];
  title: string;
  summary: string;
  image?: ImageMetadata;
  locale: string;
  t: TFunction;
}

const { author, tags, title, summary, image, id, locale, t } = Astro.props;
const dateString = getDateStringFromId(id);
const date = localizeDateString(dateString, locale, {
  day: "numeric",
  month: "long",
  year: "numeric",
});
const localizedLink = localizeHref(locale, `/blog/${id}/`);
---

<div class="card-container">
  <a
    class={`thumbnail ${!image ? "no-image" : ""}`}
    href={localizedLink}
    tabindex="-1"
    aria-hidden="true"
  >
    {
      image ? (
        <Image
          src={image}
          alt={title}
          loading="lazy"
          decoding="async"
          format="avif"
        />
      ) : (
        <span>
          {tags[0]
            .split(" ")
            .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
            .join(" ")}
        </span>
      )
    }
  </a>
  <div class="info">
    <div class="meta">
      {
        date && (
          <div class="meta-item">
            <div class="icon">
              <MaskIcon src={calendarIcon} />
            </div>
            <time datetime={dateString}>{date}</time>
          </div>
        )
      }

      {
        author && (
          <div class="meta-item">
            <div class="icon">
              <MaskIcon src={userIcon} />
            </div>
            {author.replace(" and ", ` ${t("blog.post.and")} `)}
          </div>
        )
      }
    </div>
    <h2 class="title">
      <a href={localizedLink} dir="ltr">{title}</a>
    </h2>
    <p class="summary"><span dir="ltr">{summary}</span></p>
    {
      tags.length > 0 && (
        <div class="tag-container">
          {tags.map((tag: string) => (
            <a
              class="tag"
              href={localizeHref(
                locale,
                `/blog/tags/${tag.toLowerCase().replace(/\s+/g, "-")}/`,
              )}
            >
              {tag}
            </a>
          ))}
        </div>
      )
    }
  </div>
</div>

<style>
  .card-container {
    display: grid;
    grid-template-rows: clamp(250px, 40vh, 400px) 1fr;
    gap: 2rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 2rem;
  }

  .thumbnail {
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    position: relative;
  }
  .thumbnail.no-image {
    background-color: var(--monero-orange);
  }

  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
  }

  .thumbnail span {
    position: absolute;
    bottom: 2rem;
    inset-inline-start: 2rem;
    color: white;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-4xl);
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .meta {
    display: flex;
    flex-direction: row;
    gap: clamp(1rem, 1vw, 2rem);
    flex-wrap: wrap;
    color: var(--text-secondary);
  }

  .meta-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .meta-item > .icon {
    display: grid;
    place-items: center;
    color: var(--monero-orange);
  }

  .tag-container {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: var(--font-size-sm);
  }

  .tag {
    text-align: center;
    padding: 0.25rem 0.75rem;
    background: var(--footer-color);
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: var(--font-weight-semibold);
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
  }

  .title a {
    text-decoration: none;
    color: inherit;
  }
  .title a:hover {
    text-decoration: underline;
  }

  .summary {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--text-secondary);
    text-decoration: none;
  }

  @media (max-width: 1200px) {
    .card-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: none;
    }

    .thumbnail img {
      position: absolute;
      inset: 0;
      object-fit: cover;
    }

    .thumbnail span {
      bottom: unset;
      top: 2rem;
    }

    .title {
      font-size: var(--font-size-xl);
      order: 0;
      margin-bottom: 0.75rem;
      margin-top: 0;
    }

    .meta {
      margin-bottom: 1rem;
    }

    .tag-container {
      font-size: var(--font-size-sm);
      gap: 1rem;
    }
  }

  @media (max-width: 900px) {
    .thumbnail {
      display: none;
    }

    .card-container {
      grid-template-columns: none;
      grid-template-rows: auto;
    }

    .title {
      order: -1;
    }

    .tag-container {
      font-size: var(--font-size-xs);
      gap: 0.5rem;
    }
  }
</style>
