---
import Card from "@/components/ui/Card.astro";
import IconLink from "@/components/ui/IconLink.astro";
import MaskIcon from "@/components/ui/MaskIcon.astro";
import type { ImageMetadata } from "astro";

export interface Props {
  icon?: ImageMetadata;
  title: string;
  description?: string;
  ctaLabel: string;
  ctaHref: string;
}

const { icon = null, title, description = "", ctaLabel, ctaHref } = Astro.props;
const { safeMarkdown } = Astro.locals;
---

<Card
  as="article"
  padding="2xl"
  radius="xl"
  border
  transparent
  class="resource-card"
>
  {
    icon && (
      <div class="icon">
        <MaskIcon src={icon} size="100%" />
      </div>
    )
  }

  <h2 class="title">{title}</h2>

  {
    description && (
      <p class="desc" set:html={safeMarkdown.parseInline(description)} />
    )
  }

  <IconLink href={ctaHref} weight="bold" underline class="cta">
    {ctaLabel}
  </IconLink>
</Card>

<style>
  .resource-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .icon {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: var(--space-xl);
    padding: var(--space-xl);
    color: var(--monero-orange);
    background: light-dark(var(--card-color), transparent);
  }

  .title {
    margin: 0 0 var(--space-sm);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    color: var(--heading-color);
  }

  .desc {
    margin: 0 0 var(--space-xl);
    line-height: var(--line-height-body);
    max-width: 45ch;
    color: var(--paragraph-subtitle);
  }

  .cta {
    margin-top: auto;
  }
</style>
