---
import DisclaimerBar from "@/components/ui/DisclaimerBar.astro";
import ExternalResourceButton from "@/components/ui/ExternalResourceButton.astro";
import PageContainer from "@/components/ui/PageContainer.astro";
import TitleCard from "@/components/ui/TitleCard.astro";
import { developerLibraries } from "@/data/monero-tools";
import { createTInstance, getLocale, localizeHref } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";

import shieldAlertIcon from "@/assets/icons/mask/shieldAlert.avif";

const locale = getLocale(Astro.url);
const t = await createTInstance(locale);
---

<Layout
  title={t("tools:develop.pageTitle")}
  description={t("tools:develop.subtitle")}
>
  <TitleCard
    title={t("tools:develop.title")}
    subtitle={t("tools:develop.subtitle")}
    backHref={localizeHref(locale, "/resources/tools/")}
    backLabel={t("tools:index.title")}
  />

  <PageContainer>
    <ul class="tool-list">
      {
        developerLibraries.map((tool) => (
          <li>
            <ExternalResourceButton
              href={tool.href}
              title={tool.title}
              subtitle={tool.subtitle}
              logo={tool.logo}
            />
          </li>
        ))
      }
    </ul>
  </PageContainer>

  <DisclaimerBar
    icon={shieldAlertIcon}
    title={t("tools:develop.disclaimer.title")}
  >
    {t("tools:develop.disclaimer.text")}
    <a
      href="https://github.com/monero-project/monero-site/issues/new"
      target="_blank"
      rel="noopener noreferrer">{t("tools:develop.disclaimer.linkText")}</a
    >.
  </DisclaimerBar>
</Layout>

<style>
  .tool-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }

  @media (max-width: 900px) {
    .tool-list {
      grid-template-columns: 1fr;
    }
  }
</style>
