---
import Layout from "@/layouts/Layout.astro";

import ExternalResourceButton from "@/components/ui/ExternalResourceButton.astro";
import PageContainer from "@/components/ui/PageContainer.astro";
import TitleCard from "@/components/ui/TitleCard.astro";

import merchants from "@/data/merchants";

import shieldIcon from "@/assets/icons/mask/shieldAlert.avif";
import DisclaimerBar from "@/components/ui/DisclaimerBar.astro";

const { t } = Astro.locals;
---

<Layout
  title={t("merchants:pageTitle")}
  description={t("merchants:hero.subtitle")}
>
  <TitleCard
    title={t("merchants:hero.title")}
    subtitle={t("merchants:hero.subtitle")}
  />

  <PageContainer>
    <p>
      {t("merchants:intro")}
    </p>

    <div class="button-container">
      {
        merchants
          .sort((a, b) => a.name.localeCompare(b.name))
          .map((merchant) => (
            <ExternalResourceButton
              href={merchant.link}
              onionHref={merchant.onionLink}
              title={merchant.name}
              subtitle={t(`merchants:subtitles.${merchant.id}`)}
              logo={merchant.logo}
            />
          ))
      }
    </div>
  </PageContainer>

  <DisclaimerBar icon={shieldIcon} title={t("merchants:disclaimerTitle")}>
    {t("merchants:disclaimer")}
  </DisclaimerBar>
</Layout>

<style>
  .button-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-bottom: 3rem;
  }
  p {
    color: var(--paragraph-subtitle);
  }
</style>
