---
import Layout from "@/layouts/Layout.astro";

import DisclaimerBar from "@/components/ui/DisclaimerBar.astro";
import ExternalResourceButton from "@/components/ui/ExternalResourceButton.astro";
import PageContainer from "@/components/ui/PageContainer.astro";
import Column from "@/components/ui/Column.astro";
import TitleCard from "@/components/ui/TitleCard.astro";

import shieldIcon from "@/assets/icons/mask/shieldAlert.avif";

import merchants from "@/data/merchants";

const { t } = Astro.locals;
---

<Layout
  title={t("merchants:pageTitle")}
  description={t("merchants:hero.subtitle")}
>
  <TitleCard
    title={t("merchants:hero.title")}
    subtitle={t("merchants:hero.subtitle")}
  />

  <PageContainer>
    <p class="intro">{t("merchants:intro")}</p>

    <Column gap="md">
      {
        merchants
          .sort((a, b) => a.name.localeCompare(b.name))
          .map((merchant) => (
            <ExternalResourceButton
              href={merchant.link}
              onionHref={merchant.onionLink}
              title={merchant.name}
              subtitle={t(`merchants:subtitles.${merchant.id}`)}
              logo={merchant.logo}
            />
          ))
      }
    </Column>
  </PageContainer>

  <DisclaimerBar icon={shieldIcon} title={t("merchants:disclaimerTitle")}>
    {t("merchants:disclaimer")}
  </DisclaimerBar>
</Layout>

<style>
  .intro {
    color: var(--paragraph-subtitle);
  }
</style>
