---
import "@/styles/moneropedia-link.css";

import BlogContent from "@/components/pages/blog/BlogContent.astro";
import BlogHeader from "@/components/pages/blog/BlogHeader.astro";
import { createTInstance, getLocale } from "@/i18n/utils";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await render(post);
const locale = getLocale(Astro.url);
const t = await createTInstance(locale);
---

<Layout title={post.data.title}>
  <div class="blog-container">
    <main>
      <BlogHeader
        title={post.data.title}
        slug={post.slug}
        author={post.data.author}
        tags={post.data.tags}
        locale={locale}
        t={t}
      />
      <BlogContent>
        <Content />
      </BlogContent>
    </main>

    <aside class="sidebar">
      <h2>{t("blog.post.recentPosts")}</h2>
    </aside>
  </div>
</Layout>

<style>
  .blog-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .blog-container > * {
    min-width: 0;
  }

  .sidebar {
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
    height: fit-content;
  }

  .sidebar h2 {
    font-size: var(--font-size-xl);
    margin-top: 0;
  }

  @media (min-width: 1200px) {
    .blog-container {
      grid-template-columns: 1fr 75ch 1fr;
    }

    main {
      grid-column: 2;
    }

    .sidebar {
      grid-column: 2;
      grid-row: 2;
    }
  }

  @media (min-width: 1500px) {
    .sidebar {
      grid-column: 3;
      grid-row: 1;
    }
  }
</style>
