---
import {
  createTInstance,
  getDirection,
  getLocale,
  localizeHref,
} from "@/i18n/utils";
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";

import BlogCard from "@/components/pages/blog/BlogCard.astro";
import Paginator from "@/components/ui/Paginator.astro";
import Tabs from "@/components/ui/Tabs.astro";
import TitleCard from "@/components/ui/TitleCard.astro";

import rssIcon from "@/assets/icons/mask/rss.avif?url";
import MaskIcon from "@/components/ui/MaskIcon.astro";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPosts = (await getCollection("blog")).sort((a, b) =>
    b.id.localeCompare(a.id),
  );
  return paginate(allPosts, { pageSize: 6 });
};

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
const posts = page.data;

const locale = getLocale(Astro.url);
const t = await createTInstance(locale);
const dir = getDirection(locale);

const tabs = [
  { label: t("blog.tabs.allPosts"), link: "/blog" },
  {
    label: t("blog.tabs.urgent"),
    link: "/blog/tags/urgent",
  },
  {
    label: t("blog.tabs.releases"),
    link: "/blog/tags/releases",
  },
  {
    label: t("blog.tabs.community"),
    link: "/blog/tags/community",
  },
  {
    label: t("blog.tabs.meetingLogs"),
    link: "/blog/tags/dev-diaries",
  },
];
---

<Layout
  title={t("blog.index.pageTitle")}
  description={t("blog.index.heroSubtitle")}
>
  <Fragment slot="head">
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Monero Blog RSS"
      href={new URL("feed.xml", Astro.site)}
    />
  </Fragment>
  <TitleCard
    title={t("blog.index.heroTitle")}
    subtitle={t("blog.index.heroSubtitle")}
  />
  <div class="tabs-bar">
    <Tabs
      labels={tabs.map((t) => t.label)}
      links={tabs.map((t) => localizeHref(locale, t.link))}
      activeIndex={0}
    />
    <a
      class="rss-icon"
      href={new URL("feed.xml", Astro.site)}
      aria-label="RSS Feed"
      title="RSS Feed"
    >
      <MaskIcon src={rssIcon} size="2.5rem" rtl={dir == "rtl"} />
    </a>
  </div>
  <div class="blog-grid">
    {
      posts.map((post) => (
        <BlogCard
          id={post.id}
          title={post.data.title}
          author={post.data.author}
          tags={post.data.tags || []}
          image={post.data.image}
          summary={post.data.summary || ""}
          locale={locale}
          t={t}
        />
      ))
    }
  </div>
  <Paginator page={page} locale={locale} />
</Layout>

<style>
  .blog-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .tabs-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .tabs-bar :global(.tab-header) {
    margin-bottom: unset;
  }

  .rss-icon {
    display: none;
  }

  @media (min-width: 1200px) {
    .blog-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .rss-icon {
      display: inline-flex;
      align-items: center;
      color: var(--monero-orange);
    }
    .rss-icon:hover {
      opacity: 0.8;
    }
  }
</style>
