---
import type { ImageMetadata } from "astro";
import TOCItem from "./TOCItem.astro";

export interface TOCSection {
  id: string;
  icon: ImageMetadata;
  title: string;
  subtitle: string;
}

export interface Props {
  sections: TOCSection[];
  ariaLabel: string;
}

const { sections, ariaLabel } = Astro.props;
---

<nav class="toc" aria-label={ariaLabel}>
  {
    sections.map((section) => (
      <TOCItem
        href={`#${section.id}`}
        icon={section.icon}
        title={section.title}
        subtitle={section.subtitle}
        class="toc-item-default"
      />
    ))
  }
</nav>

<style>
  .toc {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: var(--space-md);
    padding-bottom: var(--space-2xl);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--space-2xl);
  }

  .toc-item-default {
    background: var(--card-color);

    &:hover,
    &:focus-visible {
      background: var(--card-hover-color);
    }
  }
</style>
