---
import { getDirection, localizeHref } from "@/i18n/utils";
import { isExternal } from "@/utils/links";
import type { ImageMetadata } from "astro";
import { getLocale } from "astro-i18n-aut";

import rssIcon from "@/assets/icons/mask/rss.avif";
import torIcon from "@/assets/icons/mask/tor.avif";
import MaskIcon from "@/components/ui/MaskIcon.astro";

const { t } = Astro.props;
const locale = getLocale(Astro.url);
const dir = getDirection(locale);

interface Link {
  label: string;
  href: string;
  icon?: {
    src: ImageMetadata;
    color?: string;
    size?: string;
    ignoreRtl?: boolean;
  };
}

interface Column {
  title: string;
  links: Link[];
}

const columns: Column[] = [
  {
    title: t("footer.columns.resources.title", { ns: "common" }),
    links: [
      {
        label: t("footer.columns.resources.links.aboutMonero", {
          ns: "common",
        }),
        href: localizeHref(locale, "/get-started/what-is-monero/"),
      },
      {
        label: t("footer.columns.resources.links.moneropedia", {
          ns: "common",
        }),
        href: localizeHref(locale, "/resources/moneropedia/"),
      },
      {
        label: t("footer.columns.resources.links.moneroDocs", {
          ns: "common",
        }),
        href: "https://docs.getmonero.org",
      },
      {
        label: t("footer.columns.resources.links.downloads", { ns: "common" }),
        href: localizeHref(locale, "/downloads/"),
      },
    ],
  },
  {
    title: t("footer.columns.reachOut.title", { ns: "common" }),
    links: [
      {
        label: t("footer.columns.reachOut.links.workgroups", { ns: "common" }),
        href: localizeHref(locale, "/community/workgroups"),
      },
      {
        label: t("footer.columns.reachOut.links.hangouts", { ns: "common" }),
        href: localizeHref(locale, "/community/hangouts"),
      },
      {
        label: t("footer.columns.reachOut.links.mailingList", { ns: "common" }),
        href: "/postorius/lists/monero-announce.lists.getmonero.org",
      },
    ],
  },
  {
    title: t("footer.columns.community.title", { ns: "common" }),
    links: [
      {
        label: t("footer.columns.community.links.stackExchange", {
          ns: "common",
        }),
        href: "https://monero.stackexchange.com/",
      },
      {
        label: t("footer.columns.community.links.bitcoinTalk", {
          ns: "common",
        }),
        href: "https://bitcointalk.org/index.php?topic=583449.0",
      },
      {
        label: t("footer.columns.community.links.translate", { ns: "common" }),
        href: "https://translate.getmonero.org",
      },
    ],
  },
  {
    title: t("footer.columns.theMoneroProject.title", { ns: "common" }),
    links: [
      {
        label: t("footer.columns.theMoneroProject.links.openAlias", {
          ns: "common",
        }),
        href: "https://openalias.org",
      },
      {
        label: t("footer.columns.theMoneroProject.links.moneroResearchLab", {
          ns: "common",
        }),
        href: localizeHref(locale, "/resources/research-lab"),
      },
      {
        label: t("footer.columns.theMoneroProject.links.pressKit", {
          ns: "common",
        }),
        href: localizeHref(locale, "/resources/press-kit"),
      },
      {
        label: t(
          "footer.columns.theMoneroProject.links.communityCrowdfundingSystem",
          { ns: "common" },
        ),
        href: "https://ccs.getmonero.org",
      },
    ],
  },
];

const bottomLinks: Link[] = [
  {
    label: t("footer.bottomLinks.torOnionService", { ns: "common" }),
    href: "#",
    icon: {
      src: torIcon,
      size: "1rem",
      color: "#7d4698",
      ignoreRtl: true,
    },
  },
  {
    label: t("footer.bottomLinks.vulnerabilityResponse", { ns: "common" }),
    href: "https://github.com/monero-project/meta/blob/master/VULNERABILITY_RESPONSE_PROCESS.md",
  },
  {
    label: t("footer.bottomLinks.legal", { ns: "common" }),
    href: localizeHref(locale, "/legal"),
  },
  {
    label: t("footer.bottomLinks.sourceCode", { ns: "common" }),
    href: "https://github.com/monero-project",
  },
  {
    label: t("footer.bottomLinks.rssFeed", { ns: "common" }),
    href: "/feed.xml",
    icon: {
      src: rssIcon,
      size: "1rem",
      color: "var(--monero-orange)",
    },
  },
];
---

<footer class="footer" aria-label="Footer">
  <div class="items">
    <nav class="grid" aria-label="Footer navigation">
      {
        columns.map((col) => (
          <section class="col">
            <h3 class="title">{col.title}</h3>
            <ul class="list">
              {col.links.map((l) => (
                <li>
                  <a
                    href={l.href}
                    target={
                      isExternal(l.href, "getmonero.org") ? "_blank" : undefined
                    }
                    rel={
                      isExternal(l.href, "getmonero.org")
                        ? "noopener noreferrer external"
                        : undefined
                    }
                  >
                    {l.label}
                    {l.icon && (
                      <MaskIcon
                        src={l.icon?.src}
                        size={l.icon?.size ?? "12px"}
                        rtl={l.icon?.ignoreRtl ? false : dir == "rtl"}
                        color={l.icon?.color}
                        spacing="0.25em"
                      />
                    )}
                  </a>
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </nav>

    <nav class="bottom" aria-label="Secondary footer navigation">
      <ul class="inline-list">
        {
          bottomLinks.map((l) => (
            <li class="inline-item">
              <a
                href={l.href}
                target={
                  isExternal(l.href, "getmonero.org") ? "_blank" : undefined
                }
                rel={
                  isExternal(l.href, "getmonero.org")
                    ? "noopener noreferrer external"
                    : undefined
                }
              >
                {l.label}
                {l.icon && (
                  <MaskIcon
                    src={l.icon?.src}
                    size={l.icon?.size ?? "12px"}
                    rtl={l.icon?.ignoreRtl ? false : dir == "rtl"}
                    color={l.icon?.color}
                    spacing="0.25em"
                  />
                )}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</footer>

<style>
  .footer {
    background: var(--footer-color);
  }

  .items {
    padding-inline: var(--mobile-padding-inline);
    padding-block: 3rem;
    max-width: var(--content-max-width);
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .title {
    margin: 0 0 1rem;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--heading-color);
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list li {
    margin: 8px 0;
  }

  a {
    color: var(--heading-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  a:hover,
  a:focus-visible {
    color: var(--paragraph-subtitle);
  }

  .bottom {
    margin-top: 5em;
    color: var(--paragraph-subtitle);
  }

  .inline-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 18px 28px;
    justify-content: center;
  }

  .inline-item a:hover,
  .inline-item a:focus {
    color: var(--heading-color);
  }

  @media (min-width: 600px) {
    .grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 900px) {
    .grid {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @media (min-width: 1200px) {
    .items {
      padding-block: 5rem;
      padding-inline: var(--desktop-padding-inline);
    }

    .title {
      margin: 0 0 2rem;
    }
  }
</style>
