---
import Layout from "@/layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import IndexCard from "../components/pages/index/IndexCard.astro";
import GetStartedCard from "../components/pages/index/GetStartedCard.astro";
import ResourceCard from "../components/pages/index/ResourceCard.astro";
import placeholder from "../assets/placeholder.avif?url";
import { createTInstance, getLocale } from "@/i18n/utils";

const locale = getLocale(Astro.url);
const t = await createTInstance(locale);
---
<Layout>
  <Hero t={t} />
  <IndexCard
    title={t("index.aboutTitle")}
    description={t("index.aboutDescription")}
  >
    <div style="display: flex; flex-direction: column; gap: 2rem;">
      <div>
        <h2>{t("index.main")}</h2>
        <p>
          {t("index.privacyText")}
        </p>
      </div>
      <div>
        <h2>{t("index.decentralized")}</h2>
        <p>
          {t("index.decentralizedText")}
        </p>
      </div>
      <div>
        <h2>{t("index.communityDriven")}</h2>
        <p>
          {t("index.communityText")}
        </p>
      </div>
    </div>
    <div class="video-container">
      <video width="100%" height="100%" controls preload="metadata">
        <source src="/media/intro-video.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
    </div>
  </IndexCard>
  <hr />
  <IndexCard
    title={t("index.startTitle")}
    description={t("index.startDescription")}
  >
    <img src={placeholder} alt={t("index.getStartedAlt")} width="100%" />
    <div>
      <GetStartedCard
        step="01"
        title={t("index.step1Title")}
        description={t("index.step1Desc")}
        ctaHref="/downloads"
        ctaLabel={t("index.step1Cta")}
      />
      <hr />
      <GetStartedCard
        step="02"
        title={t("index.step2Title")}
        description={t("index.step2Desc")}
        ctaHref="/community/merchants"
        ctaLabel={t("index.step2Cta")}
      />
      <hr />
      <GetStartedCard
        step="03"
        title={t("index.step3Title")}
        description={t("index.step3Desc")}
        ctaHref="/resources/user-guides"
        ctaLabel={t("index.step3Cta")}
      />
    </div>
  </IndexCard>
  <hr />
  <IndexCard
    title={t("index.resourcesTitle")}
    description={t("index.resourcesDescription")}
  >
    <div id="resource-container">
      <ResourceCard
        title={t("index.faqTitle")}
        description={t("index.faqDesc")}
        ctaLabel={t("index.faqCta")}
        ctaHref="#"
        icon={placeholder}
      />
      <ResourceCard
        title={t("index.userGuidesTitle")}
        description={t("index.userGuidesDesc")}
        ctaLabel={t("index.userGuidesCta")}
        ctaHref="#"
        icon={placeholder}
      />
      <ResourceCard
        title={t("index.devGuidesTitle")}
        description={t("index.devGuidesDesc")}
        ctaLabel={t("index.devGuidesCta")}
        ctaHref="#"
        icon={placeholder}
      />
    </div>
  </IndexCard>
</Layout>

<style>
  h2 {
    font-size: 200%;
    color: var(--heading-color);
  }
  p {
    margin: 0;
    color: var(--paragraph-subtitle);
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 1em 0;
  }

  #resource-container {
    grid-column: span 2;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    border-radius: 1rem;
    overflow: hidden;
  }

  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
