---
import { createTInstance, getLocale, localizeHref } from "@/i18n/utils";

import Layout from "@/layouts/Layout.astro";

import GetStartedCard from "@/components/pages/index/GetStartedCard.astro";
import Hero from "@/components/pages/index/Hero.astro";
import IndexCard from "@/components/pages/index/IndexCard.astro";
import ResourceCard from "@/components/pages/index/ResourceCard.astro";

import developerGuidesIcon from "@/assets/icons/mask/developer-guides.avif";
import faqIcon from "@/assets/icons/mask/faq.avif";

import landingImage from "@/assets/images/landing.avif";
import { Image } from "astro:assets";

const locale = getLocale(Astro.url);
const t = await createTInstance(locale);
---

<Layout title={t("index:pageTitle")} description={t("index:hero.lead")}>
  <Hero t={t} class="index-hero" />
  <div class="main-content">
    <IndexCard
      id="about-monero"
      title={t("index:aboutTitle")}
      description={t("index:aboutDescription")}
    >
      <div style="display: flex; flex-direction: column; gap: 2rem;">
        <div>
          <h2 style="margin-top: 0;">{t("index:main")}</h2>
          <p>
            {t("index:privacyText")}
          </p>
        </div>
        <div>
          <h2>{t("index:decentralized")}</h2>
          <p>
            {t("index:decentralizedText")}
          </p>
        </div>
        <div>
          <h2>{t("index:communityDriven")}</h2>
          <p>
            {t("index:communityText")}
          </p>
        </div>
      </div>
      <div class="video-container">
        <video
          width="100%"
          height="100%"
          controls
          preload="none"
          poster="/media/what-is-monero.webp"
          aria-label="Video explaining what Monero is"
        >
          <source src="/media/what-is-monero.webm" type="video/webm" />
          <track kind="captions" src="" srclang="en" label="No captions" />
          Your browser does not support the video tag.
        </video>
      </div>
    </IndexCard>
    <hr />
    <IndexCard
      title={t("index:startTitle")}
      description={t("index:startDescription")}
      id="start-using-monero"
    >
      <Image src={landingImage} alt="" class="landing-image" format="avif" />
      {/*<MaskIcon src={placeholderIcon} size="100%" />*/}
      <div>
        <GetStartedCard
          step="01"
          title={t("index:step1Title")}
          description={t("index:step1Desc")}
          ctaHref={localizeHref(locale, "/downloads/community/#wallets")}
          ctaLabel={t("index:step1Cta")}
        />
        <hr />
        <GetStartedCard
          step="02"
          title={t("index:step2Title")}
          description={t("index:step2Desc")}
          ctaHref={localizeHref(locale, "/get-started/exchanges")}
          ctaLabel={t("index:step2Cta")}
        />
        <hr />
        <GetStartedCard
          step="03"
          title={t("index:step3Title")}
          description={t("index:step3Desc")}
          ctaHref={localizeHref(locale, "/get-started/merchants")}
          ctaLabel={t("index:step3Cta")}
        />
      </div>
    </IndexCard>
    <hr />
    <IndexCard
      title={t("index:resourcesTitle")}
      description={t("index:resourcesDescription")}
      id="monero-resources"
    >
      <div id="resource-container">
        <ResourceCard
          title={t("index:faqTitle")}
          description={t("index:faqDesc")}
          ctaLabel={t("index:faqCta")}
          ctaHref={localizeHref(locale, "/get-started/faq")}
          icon={faqIcon}
        />
        <ResourceCard
          title={t("index:moneroDocsTitle")}
          description={t("index:moneroDocsDesc")}
          ctaLabel={t("index:moneroDocsCta")}
          ctaHref="https://docs.getmonero.org"
          icon={developerGuidesIcon}
        />
      </div>
    </IndexCard>
  </div>
</Layout>

<style>
  :root {
    --hero-min-height: calc(75vh + 3rem);
  }

  @supports (height: 100dvh) {
    :root {
      --hero-min-height: calc(75dvh + 3rem);
    }
  }

  h2 {
    font-size: var(--font-size-3xl);
    color: var(--heading-color);
  }
  p {
    margin: 0;
    color: var(--paragraph-subtitle);
    font-size: var(--font-size-lg);
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 1em 0;
  }

  #resource-container {
    grid-column: span 2;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    overflow: hidden;
  }

  .video-container video {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
  }

  .landing-image {
    -webkit-mask-image: radial-gradient(
      ellipse at center,
      black 60%,
      transparent 100%
    );
    mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%);
  }

  .main-content {
    position: relative;
    margin-top: calc(
      var(--hero-min-height) - var(--page-top-margin)
    ) !important;
  }

  .index-hero {
    position: absolute;
    top: 3rem;
    inset-inline-start: 5rem;
    inset-inline-end: 5rem;
    z-index: 5;
    min-height: var(--hero-min-height);
  }

  @media (max-width: 1200px) {
    #start-using-monero {
      scroll-margin-top: 4rem;
    }
  }

  @media (max-width: 600px) {
    .index-hero {
      inset-inline-start: 2rem;
      inset-inline-end: 2rem;
    }
  }
</style>
