---
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { createTInstance, getDirection } from "@/i18n/utils";
import "@/styles/global.css";
import "@fontsource-variable/dm-sans";
import dmSansFont from "@fontsource-variable/dm-sans/files/dm-sans-latin-wght-normal.woff2?url";
import "@fontsource-variable/inter";
import { getLocale } from "astro-i18n-aut";

const lang = getLocale(Astro.url);
const t = await createTInstance(lang);
const dir = getDirection(lang);
const title = Astro.props.title;
---

<!doctype html>
<html lang={lang} dir={dir}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/meta/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/meta/favicon-16x16.png"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={dmSansFont}
      crossorigin="anonymous"
    />
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header t={t} />
    <main>
      <slot />
    </main>
    <Footer t={t} />
  </body>
</html>

<style>
  :root {
    --bg-color: #ffffff;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #171717;
    }
  }

  html,
  body {
    margin: 0;
    min-height: 100vh;
    font-family: "DM Sans Variable", sans-serif;
    background: var(--bg-color);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
  }

  main {
    padding: var(--default-padding);
    flex: 1;
  }

  @media (min-width: 1920px) {
    main {
      width: var(--content-max-width);
      margin: 0 auto;
    }
  }

  @media (max-width: 600px) {
    main {
      padding: var(--mobile-padding);
    }
  }
</style>
