---
import { defaultLocale } from "@/i18n/config";
import type { CollectionEntry } from "astro:content";
import { getCollection, getEntry, render } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import BackLink from "@/components/ui/BackLink.astro";

export async function getStaticPaths() {
  const entries = await getCollection("moneropedia", (entry) =>
    entry.id.startsWith(defaultLocale + "/"),
  );

  return entries.map((entry) => ({
    params: { slug: entry.id.replace(`${defaultLocale}/`, "") },
  }));
}

type Props = CollectionEntry<"moneropedia">;

const { locale, t, localizeHref } = Astro.locals;

const { slug } = Astro.params;
const entry = await getEntry("moneropedia", `${locale}/${slug}`);

if (!entry) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const { Content } = await render(entry);
const title = entry.data.title ?? entry.data.terms[0];
---

<Layout
  title={`${title} | ${t("knowledge-base:moneropedia.pageTitle")}`}
  description=""
>
  <div class="moneropedia-page container">
    <aside class="moneropedia-sidebar">
      <BackLink href={localizeHref("/resources/moneropedia/")} size="lg">
        {t("knowledge-base:moneropedia.title")}
      </BackLink>
    </aside>

    <header class="moneropedia-header">
      <h1>{title}</h1>
    </header>

    <article class="moneropedia-article">
      <Content />
    </article>
  </div>
</Layout>

<style>
  .moneropedia-page {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "sidebar header"
      ".       content";
    gap: 1rem 5rem;
  }

  .moneropedia-sidebar {
    align-self: center;
    grid-area: sidebar;
  }

  .moneropedia-header {
    align-self: center;
    grid-area: header;
  }

  .moneropedia-header h1 {
    margin: 0;
    font-size: var(--font-size-3xl);
  }

  .moneropedia-article {
    grid-area: content;
    min-width: 0;
  }

  @media (max-width: 900px) {
    .moneropedia-page {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "sidebar"
        "header"
        "content";
      gap: var(--space-xl);
    }

    .moneropedia-article {
      max-width: 100%;
    }
  }
</style>
